<section class="team_member_details">
    <div class="container">
        <div class="wrapper">
            <div class="images">
                <img src="{{file_url(content.field_image['#items'][0].entity.uri.value)}}" alt="{{content.field_image['#items'].alt}}">
            </div>
            <h2>{{content.field_position.0}}</h2>
         </div>
    </div>
</section>