<section id="events">
  <div class="container">
    <div class="col-md-12 section-title text-center">
      <h2>Events</h2>
      <div class="title-img"><img src="{{ url('<front>') }}/themes/yg_charity/images/line.gif" class="img-responsive" alt="title"></div>
    </div>
    <div class="row">
           {% for row in rows %}
            {{ row.content }}
           {% endfor %}
    </div>
  </div>
</section>
