{% set base_url = url('<front>')  %}
<div class="charity-events">  
          <div class="section-title">         
              {{ header }}
            </div>
            {% for row in rows %}
            {{ row.content }}
            {% endfor %} 
</div>